 
.container1 {
    height: 90vh;
    margin-top: 10vh;
    background-image: url('../../public/assets/images/r5.png') ;
    background-repeat: no-repeat;
    background-size: 100% 90%;
 background-position: top 2rem  left 5rem ;
 
  }
  .container2{
 
margin-top: 12vh;
    height: 45vh;
    width: 85%;
    margin-left: 2rem;


  }
  
  .container3 {
 

    height: 50vh;
    background-image: url('../../public/assets/images/r4.png');
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: bottom -10px left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row1{
    display: flex;
    justify-content: space-between;
  }
   .btn{
    height: 2.5rem;
    width: 6rem;

    background-color: #231942;
    color: white;
   }
 .inputWrapper{
  width: 100%;
 }
 .innercontain div{
  margin-top: 0.5rem;
 }


    .inputWrapper1 input{
  width: 100%;
 }    
 
 /* .textarea input{
  height: 150px !important;
  vertical-align: top !important;
 } */
  .innercontain input {
    height: 50px;
   }
    .innercontain input::placeholder {
color: grey;
font-weight: 100;
   }   
    .textarea textarea::placeholder {
color: grey;
font-weight: 100;
   }
  
  
  .innercontain{
  width: 70%;

  }
  .title{
    
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    
    color: #000000;
    
  }
  .para{
    font-weight: lighter ;
    font-size: 22px;
    line-height: 27px;
    font-family: 'Inter' !important;
    color: #000000;

  }


 
@media (max-width: 2560px) {
  .container2{
    margin-bottom: -10rem;

  }
 
} 
@media (max-width: 2000px) {
 
}
@media (max-width: 1440px) {
  .textarea input{
    
    height: 100px !important;
   }
    .innercontain input {
      height: 40px;
     }
     .btn{
      width: 100px; 
     }
     .title{
      font-size: 31px;
      line-height: 62px;
  
    }
    .para{
      font-size: 15px;
      line-height: 17px;
    }
    .container3{
      margin-top: -3rem;
    }
    .container2{
      margin-bottom: -6rem;
  
    }
   
    
 
}

@media (max-width: 1280px) {
 
}

@media (max-width: 1024px) {
  .container2{
    margin-bottom: -10rem;

  }
 
}

@media (max-width: 768px) {
  .container1 {
    height: 65vh;
    background-position: top 2rem  left 3rem ;
 
 
  }
  .innercontain input {
    height: 35px;
   }
   .container2{
    margin-bottom: -12rem;

  }
  
}
 
@media (max-width: 425px) {
  .container1 {
    height: 50vh;
 background-position: center  left 2.5rem ;
 
  }
  .textarea input{
    height: 100px !important;
   }
    .innercontain input {
      height: 35px;
     }
    
     .title{
      font-size: 19px;
      line-height: 62px;
  
    }
    .para{
      font-size: 9px;
      line-height: 7px;
    }
    .container2{
      margin-bottom: -6rem;
  
    }
   
    
}
@media (max-width: 414px) {
  .container2{
    margin-bottom: -12rem;

  }
}
@media (max-width: 375px) {
  .container2{
    margin-bottom: -7rem;

  }
}
@media (max-width: 320px) {
  .title{
    font-size: 18px;
    line-height: 22px;

  }
  .para{
    font-size: 7px;
    line-height: 10px;
  }
  .innercontain input {
    height: 30px;
   }
}