  
.contain{
 flex-direction: column;
 align-self: center;
 
}
.row{
  margin:  3rem 0;
}
.t1{

font-weight: 700;
font-size: 32px;

color: #231942;
}
.t2{
margin-top: 0.5rem;
font-weight: 400;
font-size: 19px;

color: #231942;
}

.bg {

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../../public/assets/images/n1.png');
  background-size: 25% 100%;
  background-position: right;
  background-repeat: no-repeat;
 display: flex;



}
.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  
 
}

.navbutton {
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.nav-button:hover {
   color:   #ED9B40;
}
.coltwopara{

 line-height: 2rem;
font-weight: 400;
font-size: 19px;
text-align: justify;
/* or 232% */


color: #231942;
}

@media (max-width: 2560px) {

} 
@media (max-width: 2000px) {

}
@media (max-width: 1440px) {
.t1{

  font-weight: 700;
  font-size: 25px;
  padding: 0 5rem;
  
  color: #231942;
    }
    .t2{
    margin-top: 1rem;
  font-weight: 400;
  font-size: 16px;
  padding: 0 5rem;
  
  color: #231942;
    }
    .coltwopara{
     margin-top: 0.5rem;
      margin-left: -2rem;
       line-height: 24px;
      font-weight: 400;
      font-size: 15px;
      text-align: justify;
      /* or 232% */
      
      
      color: #231942;
        }


}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
  .contain{
    margin-top: 5rem;
  
  
  }

  .t1{

    font-weight: 700;
    font-size: 20px;
    
      }
      .t2{
    font-weight: 400;
    font-size: 13px;
    
      }
      .coltwopara{
         margin-top:-5px;
        font-weight: 400;
        font-size: 12px;
  
          }

}

@media (max-width: 786px) {
  .contain{
    margin-top: 9rem;
  }
.t1{

  font-weight: 700;
  font-size: 22px;

  
  color: #231942;
    }
    .t2{
    margin-top: 2rem;
  font-weight: 400;
  font-size: 15px;
  
  color: #231942;
    }
    .coltwopara{
       
      font-weight: 400;
      font-size: 15px;
      margin-top: 1rem;

        }
       
  

}
@media (max-width: 425px) {

.t1{

  font-weight: 700;
  font-size: 22px;
  padding: 0 3rem;

  
  color: #231942;
    }
    .t2{
    margin-top: 1rem;
    padding: 0 3rem;
  font-weight: 400;
  font-size: 11px;
  
  color: #231942;
    }
    .coltwopara{

      padding: 1rem 3rem;

       
      font-weight: 400;
      font-size: 11px;

        }
        .bg{
          display: block;
        }
        .navbutton {
          margin: 0 0;
          padding: 1px 10px;
          font-size: 14px;
        }
        .contain{
        margin-top: 5rem;
      
      
      }
        
          



}
@media (max-width: 325px) {
.contain{
  margin-top: 10rem;
}

}
