  
.contain{
 flex-direction: column;
 align-self: center;
 
}
.row{
  margin:  3rem 0;
}
.t1{

font-weight: 700;
font-size: 32px;
line-height: 39px;

color: #231942;
}
.t2{
margin-top: 0.5rem;
font-weight: 400;
font-size: 19px;
line-height: 23px;

color: #231942;
}

.bg {

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../../public/assets/images/n1.png');
  background-size: 25% 100%;
  background-position: right;
  background-repeat: no-repeat;
 display: flex;



}
.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  
 
}

.navbutton {
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.nav-button:hover {
   color:   #ED9B40;
}
.coltwopara{

font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 44px;
text-align: justify;
/* or 232% */


color: #231942;
}

@media (max-width: 2560px) {

} 
@media (max-width: 2000px) {

}
@media (max-width: 1440px) {
.t1{

  font-weight: 700;
  font-size: 32px;
  line-height: 25px;
  padding: 0 5rem;
  
  color: #231942;
    }
    .t2{
    margin-top: 1rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 13px;
  padding: 0 5rem;
  
  color: #231942;
    }
    .coltwopara{
margin-left: 1rem;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 34px;
      text-align: justify;
      /* or 232% */
      
      
      color: #231942;
        }


}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 786px) {
.t1{

  font-weight: 700;
  font-size: 32px;
  line-height: 15px;

  
  color: #231942;
    }
    .t2{
    margin-top: 2rem;
  font-weight: 400;
  font-size: 19px;
  line-height: 15px;
  
  color: #231942;
    }
    .coltwopara{
margin: 0rem 3rem;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;

        }
       
  

}
@media (max-width: 425px) {

.t1{

  font-weight: 700;
  font-size: 22px;
  line-height: 9px;
  padding: 0 3rem;

  
  color: #231942;
    }
    .t2{
    margin-top: 1rem;
    padding: 0 3rem;
  font-weight: 400;
  font-size: 11px;
  line-height: 5px;
  
  color: #231942;
    }
    .coltwopara{

      padding: 1rem 3rem;

      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 14px;

        }
       



}
@media (max-width: 325px) {
.contain{
  margin-top: 10rem;
}

}
