*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 
}

.nav-button {
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.nav-button:hover {
   color:   #ED9B40;
}
.footer{
  position: relative; 
}
 .footer-img{
  height: 50px;
  width: 50px;
position: absolute;
bottom: 0;
right: 0;
margin-bottom: 10px;
margin-right: 10%;
background-image: url('../../public/assets/images/eclipse.png') ;
background-repeat: no-repeat;
background-size: contain; 
 
 }
 