@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter';

}

.navbar {
  height: 10vh;
  margin-bottom: 10vh;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  background-color:  transparent;
 

}
 
 
 

.nav-button {
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.nav-button:hover {
   color:   #ED9B40;
}
.footer{
  position: relative; 
}
 .footer-img{
height: 50px;
width: 50px;
position: absolute;
bottom: 0;
right: 0;
margin-bottom: 4rem;
margin-right: 5rem;
background-image: url('../../public/assets/images/message.png') ;
background-repeat: no-repeat;
background-size: contain; 
 
 }

  
 
  .slick-prev:before, .slick-next:before {
  display: none;
  }
  
  @media screen and (max-width: 2560px) {
    .footer-img{
      height: 65px;
      width: 65px;
    margin-bottom: 4rem;
    margin-right: 3rem;
     }
  }    
  @media screen and (max-width: 1440px) {
    .footer-img{
 
    margin-bottom: 2rem;
    margin-right: 1rem;
     }

  
  }   
  @media screen and (max-width: 1024px) {
    
  
  }  
  @media screen and (max-width: 768px) {
    .nav-button {
      margin: 0 3px;
      padding: 5px 5px;
      font-size: 16px; 
    }
    .footer-img{
      height: 45px;
      width: 45px;
    margin-bottom: 1rem;
    margin-right: 1rem;
     }
  }
  @media screen and (max-width: 425px) {
    .navbar{
      height: fit-content;
      margin-top: 1rem;
    }
    .nav-button {
      margin: 0 5px;
      padding: 1px 5px;
      font-size: 14px; 
    }
    .footer-img{
      height: 35px;
      width: 35px;
    margin-bottom: 1rem;
    margin-right: 1rem;
     }
  }
  @media screen and (max-width: 320px) {
    .footer-img{
      height: 35px;
      width: 35px;
    margin-bottom: 1rem;
    margin-right: 1rem;
     }
     .navbar {
      margin-top: none !important;
      height: 2vh !important;
     
    
    }
 
  
  }
