.container {
  height: 100vh;
  background-image: url("../../public/assets/images/bg1.png");
  background-repeat: no-repeat;
  background-size: 55% 55%;
  background-position: center top 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}
.container1 {
  
  background-image: url("../../public/assets/images/bg2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 50vh;
  position: absolute;
  bottom: 5%;
}

.title1 {
 
  font-weight: 700;
  font-size: 35px;
  color: #231942;
}
.title2 {
 
  font-weight: 400;
  font-size: 35px;

  color: #ffffff;
}
.para {
  text-align: justify;
  font-weight: 300;
  font-size: 17px;
  width: 80%;
  color: #575757;
}
 .img{
  margin-top: -5rem ;
 }
 
 
@media (max-width: 2560px) {
  .container{
  
    background-repeat: no-repeat;
    background-size: 50% 55%;
    background-position: top 6vh  right ;
 
  }
  .title1 , .title2{
    margin-top: 5px;
    font-size: 3rem;
  }
  .para{
    font-size: 2rem;
    line-height: 33px;
  }
  .imgs{
    margin-top: 5rem;
  }
  .img{
  margin-top: -10rem ;

    height: 250px;
    width: 250px;
  }
  .icon{
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 2000px) {
  .container{
  
    background-repeat: no-repeat;
    background-size: 50% 55%;
    background-position: top 6vh right;
 
  }
  .title1 , .title2{
    font-size: 2rem;
    margin-left:3rem;

  }
  .para{
    font-size: 1rem;
    margin-left:3rem;

  }
  .imgs{
    margin-top: 5rem;
  }
  .img{
    height: 250px;
    width: 250px;
  }
  .icon{
    height: 45px;
    width: 45px;
  }
  }
 @media (min-width: 1504px)and (max-width: 1768px) {
  .icon{
    width: 35px  !important;
    height: 35px  !important;
  }
 }
 @media (max-width: 1440px) {
  .container {
    background-position: right top 6vh;
   
  }
    .imgs {
  margin-top: 1.5rem !important;
  
    }
    .title1 , .title2{
      font-size: 2rem;
    margin-left:0rem;

    }
    .para{
      font-size: 1rem;
    line-height: 22px;
    margin-left:0rem;


    }
   
    .img{
      margin-top: -7rem;
      height: 200px;
      width: 200px;
    }
    .icon{
      height: 30px;
      width: 30px;
    }
    
  }
 
@media (max-width: 1280px) {
    .imgs {
  margin-top: 3rem;
    }
  }
 
@media (max-width: 1024px) {
  .container {
   
    background-size: 55% 50%;

   
  }
  .img{
    width: 150px;
    height: 150px;
    margin-left: 3rem;
  }
    .imgs {
      margin-top: 1rem;

    }
    .title1,.title2{
      font-size: 1.5rem;

    }
    .para{
      font-size: 11px;
    }
    .icon{
      width: 25px ;
      height: 25px;
    }
  }
 
@media (min-width: 541px)and (max-width: 1023px) {
  
  .img{
    height: 150px;
    width: 150px;
    margin-left: 2rem;
  }
  .icon{
    width: 30px;
    height: 30px;

  }
  .line{
    height: 50px;
  }
    .imgs {
  margin-top: 1rem;
    }
    .title1{
      
      font-size: 25px;
    }
     .title2{
      font-size: 25px;
    }
    .para{
      padding-top: 5px;
      font-size: 9px;

    }
    .container {
      height: 90vh;
      background-size: 55% 32%;
      background-position: right -10px  top 8rem;
   
    }
  }

 
@media (max-width: 540px) {
  .container{
    background-size: 90% 30%;
    background-position: center top 23vh;
  }
 
    .imgs {
 
  margin-top: 3rem;
  margin-left: 1rem;

    }
    .img{    width: 100px;
      height: 100px;
      margin-top: -10rem;
      margin-left: -1rem;
    }
    .title1{
      padding-top: 3rem;
      font-size: 20px;
    }
     .title2{
      padding-top: 1px;
      font-size: 20px;
    }
    .para{
      padding-top: 5px;
      font-size: 9px;
      line-height: 15px;

    }
    .icon{
      width: 25px;
      height: 25px;
 
    }
    .line{
      height: 50px;
    }
 
  }

@media (max-width: 375px) {
  .para{
    padding-top: 5px;
    font-size: 7px; 

  }
 
  
 
}
@media (max-width: 320px) {
  

  .title1{
    padding-top: 3rem;
    font-size: 18px;
  }
   .title2{
    padding-top: 1px;
    font-size: 18px;
  }
  .para{
    padding-top: 5px;
    font-size: 8px;
    line-height: 12px;

  }
  .icon{
    width: 20px;
    height: 20px;

  }
  .line{
    height: 40px;
  }

}
