.ant-menu-title-content{
    font-weight: 400;
    font-size: 20px;
   }
   .container {
    height: 100vh; 
    background-image: url('../../public/assets/images/r1.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;  
  }
   
   
  .coltwopara{
    font-family: 'Kantumruy', sans-serif;
    font-size: 20px;
    text-align: justify;
  }
  .containerone{
  justify-content: center;
  margin: 3rem 10rem;
  
  }
   .box{
  margin-top: 8%;
  margin-bottom: 10%;
  
   }