 
 .container {
   background-image: url("../../public/assets/images/bg2.png");
   background-repeat: no-repeat;
   background-size: 100% 50%;
   background-position: bottom;
   height: 88vh;


 }
 .misonary::-webkit-scrollbar {display:none;}


 .misonary {
  margin: 0 7%;
   width: 80% !important;
   height: 80vh;
   overflow-y: scroll;
   overflow-x: hidden;

 }
 .innercontainer {
  margin: 0 10%;
 
 }

 .container3 {
   height: 80vh;
   width: 100%;
  margin: 0 7%;

 }

 .container5 {
   height: 80vh;
   width: 100%;
  margin: 0 3%;

 }

 .container4 {
  margin: 0 7%;
   height: 80vh;
   width: 100%;
 }
 .container6 {
  margin: 0 3%;

   height: 80vh;
   width: 100%;
 }


 .col1 {
   margin-top: 4rem;
 }

 .row2 {
   margin-top: 4rem;
   justify-content: space-between;
   


 }

 .col {
   padding: 0;
 }

 .overlay {
   position: relative;
   height: 100%;
   margin-top: 3rem;

 }

 .overlay1 {
   position: absolute;
   z-index: 1;
   top: 50%;
   left: 40%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: black;
   font-size: 24px;
 }

 .textbox {
   height: 630px;
   width: 1100px;
   background: linear-gradient(to right, #D9D9D9 70%, #F5CB5C 30%);



 }
 .textclan{
  width: 40%;
  text-align: justify;
  padding: 5px;
  display: flex;
  flex-direction: column;
 }

 .textbox1 {
   height: fit-content;
   width: 750px;
   background: #D9D9D9 70%;
 }
 .texts1{
  width: 70%;
  text-align: justify;
  padding: 2rem;
  display: flex;
  flex-direction: column;
 }

 .texts {
   width: 40%;
   text-align: justify;
   padding: 5px;
   display: flex;
   flex-direction: column;


 }

 .firstImage {
   height: 400px;
   width: 800px;

   position: absolute;
   top: 0;

 }

 .c1 {
   margin-top: 1rem;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   color: #000000;

 }

 .c2 {
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 39px;
   margin-top: 2rem;
   color: #000000;

 }

 .c3 {
   color: #4A8CF0;
   margin-top: 2rem;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;

 }

 .c4 {

   font-style: normal;
   font-weight: 300;
   margin-top: 2rem;
   font-size: 16px;
   line-height: 162.52%;
   color: #000000;
 }



 
 .d1 {
   margin-top: 1rem;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   color: #000000;

 }

 .d2 {
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 39px;
   margin-top: 2rem;
   color: #000000;

 }

 .d3 {
   color: #4A8CF0;
   margin-top: 2rem;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;

 }

 .d4 {

   font-style: normal;
   font-weight: 300;
   margin-top: 2rem;
   font-size: 16px;
   line-height: 162.52%;
   color: #000000;
 }



 
 .secondImage {
   position: absolute;
   bottom: 0;
 }

 @media (max-width: 2560px) {
   .textbox {
     padding: 0.5rem;

   }

   .textbox1 {
     padding: 0.3rem;
     height: 450px;
     width: 700px;
     margin-top: 3%;

   }
   .d4{
    font-size: 14px;
   }
   .texts1{
    width: 82%;
   }
    

  

 }

 @media (max-width: 2000px) {}

 @media (max-width: 1440px) {

   

   .textbox1 {
    width: 500px;
     height: 370px !important;
     padding: 0.5rem;
 

   }
   .texts1{
    width: 85%;
    padding: 1rem;
    
   }


   .colr1 {
     width: 300px !important;
     height: 150px !important;
   }

   .colr2 {
     width: 300px !important;
     height: 150px !important;
     margin-left: -3rem;
   }

   .firstImage {
     width: 600px !important;
     height: 300px !important;

   }

   .row2 {
    margin-top: -10% !important;
  

   }



   .c1 {

     font-size: 24px;
     margin-top: 1rem;
   }

   .c2 {

     margin-top: 1rem;
     font-size: 24px;
   }

   .c3 {

     margin-top: 1rem;
     font-size: 14px;
   }

   .c4 {

     margin-bottom: 1rem;
     font-size: 13px;
   }

   .d1 {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 39px;
    color: #000000;
 
  }
 
  .d2 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    margin-top: 1rem;
    color: #000000;
 
  }
 
  .d3 {
    color: #4A8CF0;
    margin-top: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
 
  }
 
  .d4 {
 
    font-style: normal;
    font-weight: 300;
    margin-top: 1rem;
    font-size:12px;
    line-height: 162.52%;
    color: #000000;
  }
 

   .b1 {
     width: 200px !important;
     height: 450px !important;
   }

   .b2 {
     width: 320px !important;
     height: 500px !important;

   }

   .container {
     overflow-y: hidden;
   }
   .container3{
    margin: 0  1rem;
   }
.textbox{
  height: fit-content;
  width: 800px;
}
.texts{
  width: 53%;
}
  


 }

 @media (max-width: 1280px) {
   .colr1 {
     margin-right: 100px !important;
   }
 }

 @media (max-width: 1024px) {
   .container3 {

    margin: 0 1rem;
   }

   .container4 {
    margin: 0 1rem;


   }

   .container5 {
    margin: 0 1rem;

   }

   .container6 {
    margin: 0 1rem;

   }

   .colr1 {
     width: 200px !important;
     height: 105px !important;
   }

   .colr2 {
     width: 200px !important;
     height: 105px !important;
     margin-left: 5rem;
   }

   .firstImage {
     width: 400px !important;
     height: 200px !important;
     margin-left: -1rem;


   }

   .c4 {

     font-size: 14px;
   }
   .d1{
    padding: 0;
    font-size: 28px !important;
   }

   .row2 {
     margin-top: -2rem;
     margin-left: -1rem;

   }

   .textbox {
    height: fit-content;
     width: 700px;
   }

   .textbox1 {
     width: 450px;
     height: fit-content !important;

   }
   .texts1{
    width: 70%;
   }
   

   .b1 {
     width: 150px !important;
     height: 300px !important;
   }

   .b2 {
     width: 220px !important;
     height: 370px !important;

   }


 }

 @media (max-width: 786px) {}

 @media (max-width: 425px) {}

 @media (max-width: 425px) {

  .overlay{
    display: none;
  }
  .c4{
    font-size: 12px;
  }
  .container3{
    margin: 0 0;
  } .container4{
    margin: 0 0;
  }  .container5{
    margin: 0 0;
  } .container6{
    margin: 0 0;
  }.container6{
    margin: 0 0;
  }
  .textbox{
    width: 270px;
    height: fit-content;
  }
  .texts{
    width: 90%;
  }  .textbox1{
    width: 280px;
    height: 80vh;
  }
  .texts1{
    width: 90%;
  }
  .textclan{
    width: 265px;
  }
  .misonary{
    height: 100vh;
  }
  
 }