 
 .container {
   background-image: url("../../public/assets/images/bg2.png");
   background-repeat: no-repeat;
   background-size: 100% 50%;
   background-position: center bottom 1rem;
   height: 100vh;


 }
 .slider{
  display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh;
 }
 .misonary::-webkit-scrollbar {display:none;}


 .misonary {
  margin: 0 7%;
   width: 80% !important;
   height: 80vh;
   overflow-y: scroll;
   overflow-x: hidden;
   transform: scaleY(1);

 }
 .innercontainer {
 
  align-items: center;
  margin: 0 10%;
  text-align: center;
 
 }

 .container3 {
   height: 80vh;
   width: 100%;
  margin: 0 7%;

 }

 .container5 {
 
   width: 100%;
  margin: 0 ;

 }

 .container4 {
  margin: 0 12%;
   height: 80vh;
   width: 100%;
 }
 .container6 {
  margin: 0 3%;

   height: 80vh;
   width: 100%;
 }


 .col1 {
   margin-top: 4rem;
 }

 .row2 {
   margin-top: 4rem;
   justify-content: space-between;
   


 }

 .col {
   padding: 0;
 }

 .overlay {
   position: relative;
   height: 100%;
   margin-top: 3rem;

 }

 .overlay1 {
   position: absolute;
   z-index: 1;
   top: 50%;
   left: 40%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: black;
   font-size: 24px;
 }

 .textbox {
  height: 630px !important;
  width: 1100px;
   background: linear-gradient(to right, #D9D9D9 70%, #F5CB5C 30%);
 }
 .clanbox {
   height: 580px;
   width: 1000px;
   background: linear-gradient(to right, #D9D9D9 70%, #F5CB5C 30%);
 }
 .textclan{
  width: 35%;
  text-align: justify;
  padding: 3rem;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
 }

 .textbox1 {
   height: fit-content !important;
   width: 750px;
   background: #D9D9D9 ;
 }
 .texts1{
  width: 70%;
  text-align: justify;
  padding: 2rem;
  display: flex;
  flex-direction: column;
 }

 .texts {
   width: 40%;
   text-align: justify;
   padding: 5px;
   display: flex;
   flex-direction: column;


 }

 .firstImage {
 
   position: absolute;
   top: 0;

 }

 .c1 {
   margin-top: 1rem;
    
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   color: #000000;

 }

 .c2 {
    
   font-weight: 400;
   font-size: 32px;
   line-height: 39px;
   margin-top: 2rem;
   color: #000000;

 }

 .c3 {
   color: #4A8CF0;
   margin-top: 2rem;
    
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;

 }

 .c4 {

    
   font-weight: 300;
   margin-top: 2rem;
   font-size: 16px;
   line-height: 162.52%;
   color: #000000;
   
 }



 
 .d1 {
   margin-top: 1rem;
    
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   color: #000000;

 }

 .d2 {
    
   font-weight: 400;
   font-size: 32px;
   line-height: 39px;
   margin-top: 2rem;
   color: #000000;

 }

 .d3 {
   color: #4A8CF0;
   margin-top: 2rem;
    
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;

 }

 .d4 {

    
   font-weight: 300;
   margin-top: 2rem;
   font-size: 16px;
   line-height: 162.52%;
   color: #000000;
 }



 
 .secondImage {
   position: absolute;
   bottom: 0;
 }

 @media (max-width: 2560px) {
  .clanImage{
    margin-top: 3rem;
  }
   .textbox {
     padding: 0.7rem;

   }

   .textbox1 {
     padding: 0.3rem;
     height: 450px;
     width: 700px;
     margin-top: 3%;

   }
   .d4{
    font-size: 14px;
   }
   .texts1{
    width: 65%;
   }
   
    

  

 }

 @media (max-width: 2000px) {}

 @media (max-width: 1440px) {
  .slider{
    margin-top: 6rem;
  }
   .clanImage{
    width: 500px !important;
    height: 450px !important;
   }
   .clanbox{
    height: 450px;
    width: 800px;

   }

   .textbox1 {
    width: 500px;
     height: 370px !important;
     padding: 0.5rem;
 

   }
   .texts1{
    width: 85%;
    padding: 1rem;
    
   }


   .colr1 {
     width: 300px !important;
     height: 150px !important;
   }

   .colr2 {
     width: 300px !important;
     height: 150px !important;
     margin-left: -3rem;
   }

   .firstImage {
     width: 600px !important;
     height:  480px !important;

   }

   .row2 {
    margin-top: -10% !important;
  

   }



   .c1 {

     font-size: 24px;
     margin-top: 1rem;
   }

   .c2 {

     margin-top: 1rem;
     font-size: 24px;
   }

   .c3 {

     margin-top: 1rem;
     font-size: 14px;
   }

   .c4 {

     margin-bottom: 1rem;
     font-size: 13px;
   }

   .d1 {
    margin-top: 1rem;
     
    font-weight: 700;
    font-size: 22px;
    line-height: 39px;
    color: #000000;
 
  }
 
  .d2 {
     
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    margin-top: 1rem;
    color: #000000;
 
  }
 
  .d3 {
    color: #4A8CF0;
    margin-top: 1rem;
     
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
 
  }
 
  .d4 {
 
     
    font-weight: 300;
    margin-top: 1rem;
    font-size:12px;
    line-height: 162.52%;
    color: #000000;
  }
 

   .b1 {
     width: 200px !important;
     height: 450px !important;
   }

   .b2 {
     width: 320px !important;
     height: 500px !important;

   }

   .container {
     overflow: hidden;
   }
   .container3{
    margin: 0  1rem;
   }
.textbox{
  height: 430px !important;
  width: 800px;
}
.texts{
  width: 50%;
}
  .container5{
    margin-left: 2rem;
  }
 
 


 }

 @media (max-width: 1280px) {
   .colr1 {
     margin-right: 100px !important;
   }
 }

 @media (max-width: 1024px) {
  .clanImage{
    width: 450px !important;
    height: 450px !important;
   }
   .clanbox{
    height: 470px;
    width: 780px;
    padding-bottom: 10px;


   }
  
  .container{
    overflow-y: auto;
  }
   .container3 {

    margin: 0 1rem;
   }

   .container4 {
    margin: 0 1rem;


   }

   .container5 {
    margin: 0 1rem;

   }

   .container6 {
    margin: 0 1rem;

   }

   .colr1 {
     width: 200px !important;
     height: 105px !important;
   }

   .colr2 {
     width: 200px !important;
     height: 105px !important;
     margin-left: 5rem;
   }

   .firstImage {
    width: 380px !important;
    height: 330px !important;
    margin-left: -1rem;
  top: 10%;


   }

   .c4 {

     font-size: 12px;
   }
   .d1{
    padding: 0;
    font-size: 28px !important;
   }

   .row2 {
     margin-top: -2rem;
     margin-left: -1rem;

   }

   .textbox {
    height: 470px;
    width: 680px;
    padding-bottom: 10px;
   }

   .textbox1 {
     width: 450px;
     height: fit-content !important;

   }
   .texts1{
    width: 70%;
   }
   

   .b1 {
     width: 150px !important;
     height: 300px !important;
   }

   .b2 {
     width: 220px !important;
     height: 370px !important;

   }


 }

 @media (min-width:500px ) and (max-width:768px )  {
  .texts , .texts1 ,.textclan{
    width: 85%;
  }
  .c4,.d4{
    font-size: 11px;
  }
  
  .overlay{
    display: none;
  }
  .container3{
    margin: 0 0;
  } .container4{
    margin: 0 5px;
  }  .container5{
    margin: 0 5px;
  } .container6{
    margin: 0 0;
  }.container6{
    margin: 0 8px;
  }
 
  .container{
    overflow-y: scroll;
  }
  
 .textbox ,.textbox1 ,.clanbox{
  width: 500px ;
  margin-left: 2rem;
 }
  
 }

 @media (max-width: 425px) {}

 @media (max-width: 425px) {
  
  .innercontainer{
    margin: 0 11%;
  }

  .overlay{
    display: none;
  }
  .c1, .c2, .c3,.d1,.d2,.d3{
    margin: 0;
  }
  .c1 , .c2,.d1,.d2{
    font-size: 20px !important;
  }
  .c4 ,.d4{
    font-size: 11px;
  }
  .container3{
    margin: 0 0;
  } .container4{
    margin: 0 5px;
  }  .container5{
    margin: 0 5px;
  } .container6{
    margin: 0 0;
  }.container6{
    margin: 0 8px;
  }
  .container{
    overflow-y: scroll;
  }
  
  .textbox ,.clanbox{
    width: 265px;
  }
  .texts{
    width: 90%;
  }  .textbox1{
    width: 265px;
  }
  .texts1{
    width: 90%;
  }
  .textclan{
    width: 90%;
    padding: 3px;
  }
  .misonary{
    height: 100vh;
  }
  
  
 }
 @media (max-width: 320px) {
  
  .innercontainer{
    margin: 0 13%;
  }

  .overlay{
    display: none;
  }

  .container3{
    margin: 0 0;
  } .container4{
    margin: 0 5px;
  }  .container5{
    margin: 0 5px;
  } .container6{
    margin: 0 0;
  }.container6{
    margin: 0 8px;
  }
  
  .textbox,.clanbox{
    width: 200px;
    height: 70vh;
  }
  .texts{
    width: 90%;
  }  .textbox1{
    width: 200px;
  }
  .texts1{
    width: 90%;
  }
  .textclan{
    width: 90%;
    text-align: justify;
  }
  .misonary{
    height: 100vh;
  }
  .c1, .c2, .c3,.d1,.d2,.d3{
    margin: 0;
  }
  .c1 , .c2,.d1,.d2{
    font-size: 18px !important;
  }
  .c4 ,.d4{
    font-size: 9px;
   
  }
  
 }