.container {
  height: 90vh;
  background-image: url("../../public/assets/images/bg1.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right 30px top 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container1 {
  background-image: url("../../public/assets/images/bg2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 50vh;
  position: absolute;
  bottom: 10%;
}

.title1 {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700;
  font-size: 40px;

  color: #231942;
}
.title2 {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400;
  font-size: 40px;

  color: #ffffff;
}
.para {
  font-family: "Kantumruy";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  width: 80%;
  color: #575757;
}
/* @media (max-width: 576px) {
    .col {
      position: absolute;
      top: 50%;
      left: 50%;
    
    }
  } */
